# Hide output for a clean list of changes (comment to commit outputs)
# logs/
# output/

# Environment
api_keys.py
conda-environment.yml
venv/
gems/

# Batch execution configuration
slurm*

# Build files
**/__pycache__/

# Output by model
# llama3
output/llama3
logs/llama3
# llama3-70b
output/llama3-70b
logs/llama3-70b
# apollo
output/apollo
logs/apollo
# mistral
output/mistral
logs/mistral
# mistral-v01
output/mistral-v01
logs/mistral-v01
# biomistral
output/biomistral
logs/biomistral
# mmed-llama
output/mmed-llama3
logs/mmed-llama3
# dr-bert
output/drbert
logs/drbert
# camembert
output/camembert
logs/camembert

# Random forests output (too big to commit ~200MB)
output/analysis/forests

# Extra output
output/test
logs/test
# output/**/*.json
# output/**/*.png
# output/**/*.txt
models/
train_results/
wandb/
